body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
h2 {
  background-color: #343b40;
  margin: 25px;
  color: white;
  padding: 10px;
}
.todo{
  display: grid;
  grid-template-columns: 35% 55%;
  margin: 2em;
  width: 960px;
}
:nth-child(2) {
  grid-column: 2/4;
}
ul{
  flex-direction: row;
  justify-content: start;
}
li{
  width: 30px;
}
form {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}